/* Основні стилі */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f7;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Заголовок */
h1 {
    text-align: center;
    color: #5d4037;
    font-size: 3em;
    margin-top: 20px;
}

/* Список деталей студента */
ul {
    list-style-type: none;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul li {
    font-size: 1.2em;
    color: #5d4037;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

/* Посилання */
a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #8d6e63;
    font-size: 1.2em;
    margin-top: 20px;
}

a:hover {
    color: #5d4037;
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    ul {
        width: 90%;
        padding: 15px;
    }

    ul li {
        font-size: 1em;
    }

    a {
        font-size: 1em;
    }
}
